*, *:before, *:after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input {
  border: 1px solid black;
  border-radius: 3px;
}

select {
  border: 1px solid black;
}

label {
  display: block;
}

.individual-post {
  height: 200px;
  margin: 10px 0;
  display: flex;
}
.post-image {
  height: inherit;
  width: 200px;
  img {
    max-width: 200px;
    max-height: 200px


  }
}
