*, *:before, *:after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input {
  border: 1px solid black;
  border-radius: 3px;
}

select {
  border: 1px solid black;
}

label {
  display: block;
}
